n8n-workflows/presentator-pipeline.json
{
  "id": "pres001",
  "name": "Presentator Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "presentator-pipeline",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "f8a3b2c1-4e5d-4a6b-9c8d-1a2b3c4d5e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "e1f2a3b4-5c6d-4e7f-8091-e1f2a3b4c5d6"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $json.body.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $json.body._secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"processing\"}",
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-4a7b-8c9d-a1b2c3d4e5f6",
      "name": "Update Status to Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst prompt = webhookData.prompt;\nconst filePaths = webhookData.filePaths || [];\nconst jobId = webhookData.jobId;\nconst secrets = webhookData._secrets || {};\nconst promptMeta = webhookData.promptMeta || {};\nconst attachments = Array.isArray(webhookData.attachments) ? webhookData.attachments : [];\nconst attachmentMap = (webhookData.attachmentMap && typeof webhookData.attachmentMap === 'object') ? webhookData.attachmentMap : {};\n\nlet systemPrompt = promptMeta.systemPrompt;\nif (!systemPrompt || typeof systemPrompt !== 'string' || !systemPrompt.trim()) {\n  systemPrompt = 'You are an expert presentation designer. You create visually stunning HTML/CSS slides rendered at 1920×1080 px.\\n\\nOUTPUT FORMAT — return ONLY valid JSON (no markdown, no code fences):\\n{\\n  \"theme\": {\\n    \"css\": \":root { --primary: #2563eb; --font-heading: \\'Inter\\', sans-serif; }\",\\n    \"fonts\": [\"Inter\"]\\n  },\\n  \"slides\": [\\n    {\\n      \"html\": \"<div class=\\'centered\\'><h1 class=\\'heading-xl\\'>Title</h1></div>\",\\n      \"css\": \"\",\\n      \"notes\": \"Speaker notes (optional)\"\\n    }\\n  ]\\n}\\n\\nCSS FRAMEWORK — each slide is a <div class=\"slide\"> (1920×1080, padding 80px). You have these utilities:\\n\\nVariables (override in theme.css): --primary, --primary-light, --primary-dark, --bg, --bg-alt, --text, --text-light, --text-muted, --accent, --success, --danger, --font-heading, --font-body, --font-mono.\\n\\nLayouts: .centered (flex center), .top-title (title + flex body), .split-2 / .split-3 (grid columns), .split-left-wide / .split-right-wide (2:1 / 1:2 grid).\\n\\nTypography: .heading-xl (72px bold), .heading-lg (52px), .heading-md (40px), .heading-sm (32px), .subtitle (32px light), .body-text (28px), .body-lg (32px), .caption (20px), .small (18px), .bold, .semibold, .uppercase.\\n\\nComponents: .card (bg-alt rounded box), .card-bordered, .card-primary (primary bg white text), .accent-line (80px colored bar), .divider, .tag (primary pill), .tag-outline, .icon-circle / .icon-circle-lg (round icon container), .number-big (96px stat), .quote (left-bordered italic), .code-block (dark mono block).\\n\\nLists: .bullets (styled ul), .bullets-lg, .numbered (auto-numbered circles).\\n\\nTables: .table (styled with colored header, striped rows).\\n\\nCharts: .bar-container + .bar (horizontal bars), .stat-value (64px number) + .stat-label.\\n\\nBackgrounds: .bg-primary, .bg-dark, .bg-gradient, .bg-gradient-light, .bg-alt. Dark backgrounds auto-adjust text and bullet colors.\\n\\nSpacing: .mt-1..mt-4 (16–64px), .mb-1..mb-3, .gap-1..gap-4, .p-1..p-3, .w-full, .h-full.\\n\\nImages: .img-contain, .img-cover, .img-rounded.\\n\\nDESIGN RULES:\\n- Slide HTML goes INSIDE the .slide container (wrapper added automatically)\\n- Use framework classes + custom inline styles or per-slide CSS for unique effects\\n- Use Google Fonts via theme.fonts array (loaded automatically)\\n- Prefer gradients, shadows, icons (Unicode emoji or SVG), visual hierarchy\\n- Do NOT use JavaScript\\n- Do NOT set width/height on the slide itself\\n- First slide should be a title/cover slide\\n- Use 5–10 slides for a typical presentation\\n- Only reference uploaded images from provided file paths\\n- Respond in the same language as the user\\'s prompt\\n- Make content professional, concise, and visually polished';\n}\n\nconst ATTACHMENT_RULES = '\\n\\nATTACHMENT HANDLING:\\n- Users may attach files (images and documents) from their library. Each entry has a stable ref like \"att_abc\".\\n- To embed an IMAGE in a slide, write <img src=\"{{attachment:<ref>}}\" alt=\"...\" class=\"img-cover\"> (or img-contain / img-rounded). The system replaces the placeholder with the real file URL during rendering.\\n- DO NOT replace the placeholder yourself. DO NOT use data: URLs. DO NOT fetch external image URLs.\\n- DOCUMENTS (kind=document) and OTHER files are CONTEXT ONLY. Use their description text to inform slide content; do NOT embed the file itself.\\n- Only emit {{attachment:<ref>}} markers for refs explicitly listed below. If no attachments are listed, do not invent placeholders.';\nsystemPrompt = systemPrompt + ATTACHMENT_RULES;\n\nconst slideCount = Number(promptMeta.slideCount) || 0;\nconst slidePrompts = Array.isArray(promptMeta.slidePrompts) ? promptMeta.slidePrompts : [];\nconst presentationSettings = promptMeta.presentationSettings || {};\n\nlet userMessage = prompt;\n\nif (slideCount > 0) {\n  userMessage += `\\n\\nDesired slide count: ${slideCount}`;\n}\n\nif (slidePrompts.length > 0) {\n  userMessage += '\\n\\nSlide-specific prompts:';\n  for (const sp of slidePrompts) {\n    userMessage += `\\n- Slide ${sp.slideIndex + 1}: ${sp.prompt}`;\n  }\n}\n\nif (Object.keys(presentationSettings).length > 0) {\n  userMessage += '\\n\\nPresentation theme settings (apply as CSS variable overrides in theme.css):\\n';\n  userMessage += JSON.stringify(presentationSettings, null, 2);\n}\n\nif (attachments.length > 0) {\n  userMessage += '\\n\\nAvailable attachments (insert images via {{attachment:<ref>}}; documents are context-only):';\n  for (const a of attachments) {\n    const dim = (a.width && a.height) ? ' ' + a.width + 'x' + a.height : '';\n    userMessage += '\\n- [' + a.ref + '] kind=' + a.kind + ', ' + (a.filename || '') + dim + ', mime=' + (a.mimeType || 'unknown');\n    if (a.description) {\n      userMessage += '\\n  Description: ' + a.description;\n    }\n  }\n}\n\nif (filePaths.length > 0) {\n  userMessage += '\\n\\nAvailable files:\\n' + filePaths.map(f => '- ' + f).join('\\n');\n}\n\nreturn [{ json: { systemPrompt, userMessage, jobId, secrets, promptMeta, filePaths, attachmentMap } }];"
      },
      "id": "b2c3d4e5-6f7a-4b8c-9d0e-b2c3d4e5f6a7",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.secrets.llmBaseUrl }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.secrets.llmApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.secrets.llmModel, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }], max_tokens: 16000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c3d4e5f6-7a8b-4c9d-0e1f-c3d4e5f6a7b8",
      "name": "Call LLM API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $('Build LLM Prompt').first().json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $('Build LLM Prompt').first().json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ llmRequest: { systemPrompt: $('Build LLM Prompt').first().json.systemPrompt, userMessage: $('Build LLM Prompt').first().json.userMessage }, llmResponse: $json }) }}",
        "options": {}
      },
      "id": "llm-logs-node-1",
      "name": "Save LLM Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst jobId = $('Build LLM Prompt').first().json.jobId;\nconst secrets = $('Build LLM Prompt').first().json.secrets;\n\nlet content = '';\ntry {\n  content = input.choices[0].message.content;\n} catch(e) {\n  content = JSON.stringify(input);\n}\n\nif (content.includes('```')) {\n  content = content.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n}\n\nlet slideData;\ntry {\n  slideData = JSON.parse(content);\n  if (!slideData.slides || !Array.isArray(slideData.slides)) {\n    throw new Error('Missing slides array');\n  }\n  for (let i = 0; i < slideData.slides.length; i++) {\n    if (!slideData.slides[i].html || typeof slideData.slides[i].html !== 'string') {\n      throw new Error(`Slide ${i} missing html field`);\n    }\n  }\n} catch (e) {\n  slideData = {\n    theme: { css: ':root { --primary: #dc2626; }' },\n    slides: [{\n      html: '<div class=\"centered\"><h1 class=\"heading-xl\">Error</h1><p class=\"subtitle\">' + (e.message || 'Failed to parse LLM response').replace(/</g, '&lt;') + '</p></div>',\n      css: '',\n      notes: ''\n    }]\n  };\n}\n\n// Avoid external font loading in converter to prevent page-render timeouts\nif (!slideData.theme || typeof slideData.theme !== 'object') {\n  slideData.theme = {};\n}\nslideData.theme.fonts = [];\n\nreturn [{ json: { slideData, jobId, secrets } }];"
      },
      "id": "d4e5f6a7-8b9c-4d0e-1f2a-d4e5f6a7b8c9",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'processing', slideData: $json.slideData }) }}",
        "options": {}
      },
      "id": "e5f6a7b8-9c0d-4e1f-2a3b-e5f6a7b8c9d0",
      "name": "Save Slide Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://converter-service:3002/convert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ slideData: $('Parse LLM Response').first().json.slideData, outputDir: '/data/results/' + $('Parse LLM Response').first().json.jobId, attachmentMap: $('Build LLM Prompt').first().json.attachmentMap || {} }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "f6a7b8c9-0d1e-4f2a-3b4c-f6a7b8c9d0e1",
      "name": "Call Converter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $('Parse LLM Response').first().json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $('Parse LLM Response').first().json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'done', resultPaths: $json.paths, resultPath: $json.paths.pdf }) }}",
        "options": {}
      },
      "id": "a7b8c9d0-1e2f-4a3b-4c5d-a7b8c9d0e1f2",
      "name": "Update Status Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {},
      "id": "b8c9d0e1-2f3a-4b4c-5d6e-b8c9d0e1f2a3",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.first().json;\nlet errorMessage = 'Unknown error occurred in pipeline';\nlet jobId = null;\nlet internalApiKey = null;\n\ntry {\n  if (errorData?.execution?.error?.message) {\n    errorMessage = errorData.execution.error.message;\n  }\n} catch (e) {}\n\nfunction tryExtractFrom(value) {\n  if (!value || typeof value !== 'object') return;\n\n  if (!jobId && typeof value.jobId === 'string' && value.jobId.length > 0) {\n    jobId = value.jobId;\n  }\n\n  if (!internalApiKey && value._secrets && typeof value._secrets.internalApiKey === 'string') {\n    internalApiKey = value._secrets.internalApiKey;\n  }\n\n  if (!internalApiKey && value.secrets && typeof value.secrets.internalApiKey === 'string') {\n    internalApiKey = value.secrets.internalApiKey;\n  }\n\n  if (!jobId && typeof value.url === 'string') {\n    const m = value.url.match(/\\/api\\/jobs\\/internal\\/([0-9a-fA-F-]{36})/);\n    if (m) jobId = m[1];\n  }\n}\n\nfunction deepWalk(value, seen = new Set()) {\n  if (!value || typeof value !== 'object') return;\n  if (seen.has(value)) return;\n  seen.add(value);\n\n  tryExtractFrom(value);\n  if (jobId && internalApiKey) return;\n\n  if (Array.isArray(value)) {\n    for (const item of value) {\n      deepWalk(item, seen);\n      if (jobId && internalApiKey) return;\n    }\n    return;\n  }\n\n  for (const key of Object.keys(value)) {\n    deepWalk(value[key], seen);\n    if (jobId && internalApiKey) return;\n  }\n}\n\ntry {\n  deepWalk(errorData);\n} catch (e) {}\n\nreturn [{ json: { jobId, errorMessage, internalApiKey } }];"
      },
      "id": "c9d0e1f2-3a4b-4c5d-6e7f-c9d0e1f2a3b4",
      "name": "Extract Error Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 600]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $json.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'error', errorMessage: $json.errorMessage }) }}",
        "options": {}
      },
      "id": "d0e1f2a3-4b5c-4d6e-7f80-d0e1f2a3b4c5",
      "name": "Update Status Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 600],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update Status to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Processing": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "Call LLM API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM API": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save LLM Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Save Slide Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Slide Data": {
      "main": [
        [
          {
            "node": "Call Converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Converter": {
      "main": [
        [
          {
            "node": "Update Status Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Info": {
      "main": [
        [
          {
            "node": "Update Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
