n8n-workflows/presentator-pipeline.json
{
  "id": "pres002",
  "name": "Presentator Pipeline v2",
  "nodes": [
    {
      "parameters": {
        "path": "presentator-pipeline",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "e1f2a3b4-5c6d-4e7f-8091-e1f2a3b4c5d6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.body.stage }}",
                    "rightValue": "planning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "planning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.body.stage }}",
                    "rightValue": "design",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "design"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.body.stage }}",
                    "rightValue": "layout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "layout"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.body.stage }}",
                    "rightValue": "refine_layout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refine_layout"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "legacy"
        }
      },
      "id": "switch-stage",
      "name": "Switch by Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Stage 1: Build PLANNING prompt ─────────────────────────────────\nconst body = $input.first().json.body;\nconst pm = body.promptMeta || {};\nconst attachments = Array.isArray(body.attachments) ? body.attachments : [];\nconst attachmentMap = body.attachmentMap || {};\nconst slideCount = Number(pm.slideCount) || 0;\nconst slidePrompts = Array.isArray(pm.slidePrompts) ? pm.slidePrompts : [];\nconst systemPrompt = pm.systemPrompt || 'You are a planner. Return JSON.';\n\nconst trim = (v, max) => {\n  if (typeof v !== 'string') return null;\n  const t = v.trim();\n  if (!t) return null;\n  return t.length > max ? t.slice(0, max) + '…' : t;\n};\n\nlet user = body.prompt || '';\n\nif (slideCount > 0) {\n  user += `\\n\\nDesired slide count: ${slideCount}`;\n}\n\nif (slidePrompts.length > 0) {\n  user += '\\n\\nPer-slide hints from the user:';\n  for (const sp of slidePrompts) {\n    user += `\\n- Slide ${sp.slideIndex + 1}: ${sp.prompt}`;\n  }\n}\n\n// Keep stage 1 context small: focus on structure/content only.\nif (attachments.length > 0) {\n  user += '\\n\\nAvailable attachments (refs + short summaries):';\n  for (const a of attachments) {\n    const dim = (a.width && a.height) ? ` ${a.width}x${a.height}` : '';\n    user += `\\n- [${a.ref}] kind=${a.kind}, ${a.filename || ''}${dim}, mime=${a.mimeType || 'unknown'}`;\n    const desc = trim(a.description, 220);\n    const sum = trim(a.summary, 420);\n    if (desc) user += `\\n  Description: ${desc}`;\n    if (sum) user += `\\n  Summary: ${sum}`;\n  }\n}\n\nreturn [{ json: {\n  systemPrompt,\n  userMessage: user,\n  jobId: body.jobId,\n  stage: 'planning',\n  attempt: body.attempt || 1,\n  secrets: body._secrets || {},\n  attachmentMap,\n  attachments,\n}}];\n"
      },
      "id": "build-planning-prompt",
      "name": "Build Planning Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Stage 2: Build DESIGN prompt ───────────────────────────────────\nconst body = $input.first().json.body;\nconst pm = body.promptMeta || {};\nconst attachments = Array.isArray(body.attachments) ? body.attachments : [];\nconst attachmentMap = body.attachmentMap || {};\nconst planningResult = pm.planningResult;\nconst designInput = pm.designInput || null;\nconst systemPrompt = pm.systemPrompt || 'You are an art director. Return JSON.';\n\nlet user = 'Generate a design brief (JSON) based on the planning result and the user design brief below.';\n\nuser += '\\n\\nPlanning result (slides + content):\\n' + JSON.stringify(planningResult, null, 2);\n\nif (designInput) {\n  user += '\\n\\nUser design brief:\\n' + JSON.stringify(designInput, null, 2);\n}\n\nif (attachments.length > 0) {\n  user += '\\n\\nAvailable attachments (consider visual treatment for image blocks):';\n  for (const a of attachments) {\n    const dim = (a.width && a.height) ? ` ${a.width}x${a.height}` : '';\n    user += `\\n- [${a.ref}] kind=${a.kind}${dim}`;\n    if (a.description) user += `\\n  Description: ${a.description}`;\n  }\n}\n\nreturn [{ json: {\n  systemPrompt,\n  userMessage: user,\n  jobId: body.jobId,\n  stage: 'design',\n  attempt: body.attempt || 1,\n  secrets: body._secrets || {},\n  attachmentMap,\n  attachments,\n}}];"
      },
      "id": "build-design-prompt",
      "name": "Build Design Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Stage 3: Build LAYOUT prompt ───────────────────────────────────\nconst body = $input.first().json.body;\nconst pm = body.promptMeta || {};\nconst attachments = Array.isArray(body.attachments) ? body.attachments : [];\nconst attachmentMap = body.attachmentMap || {};\nconst planningResult = pm.planningResult;\nconst designBrief = pm.designBrief;\nconst systemPrompt = pm.systemPrompt || 'You are an HTML/CSS slide engineer. Return JSON.';\n\nconst ATTACHMENT_RULES = '\\n\\nATTACHMENT HANDLING:\\n- To embed an IMAGE write <img src=\"{{attachment:<ref>}}\" alt=\"...\" class=\"img-cover\"> using a ref from the list. The system replaces the placeholder during rendering.\\n- DO NOT replace the placeholder. DO NOT use data: URLs or external image URLs.\\n- DOCUMENTS (kind=document) are CONTEXT ONLY. Do NOT embed them.\\n- Only emit refs explicitly listed below. If no attachments are listed, do not invent placeholders.';\n\nlet user = 'Generate the final HTML/CSS slides JSON. Strictly follow the design brief: layout class, background, decor, element classes per slide. Length and order of slides[] must match planning_result.slides exactly.';\n\nuser += '\\n\\nPlanning result:\\n' + JSON.stringify(planningResult, null, 2);\nuser += '\\n\\nDesign brief:\\n' + JSON.stringify(designBrief, null, 2);\n\nif (attachments.length > 0) {\n  user += '\\n\\nAvailable attachments (refs you may embed):';\n  for (const a of attachments) {\n    user += `\\n- [${a.ref}] kind=${a.kind}, ${a.filename || ''}, mime=${a.mimeType || 'unknown'}`;\n    if (a.description) user += `\\n  Description: ${a.description}`;\n  }\n}\n\nreturn [{ json: {\n  systemPrompt: systemPrompt + ATTACHMENT_RULES,\n  userMessage: user,\n  jobId: body.jobId,\n  stage: 'layout',\n  attempt: body.attempt || 1,\n  secrets: body._secrets || {},\n  attachmentMap,\n  attachments,\n}}];"
      },
      "id": "build-layout-prompt",
      "name": "Build Layout Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Stage Refine LAYOUT prompt ─────────────────────────────────────\nconst body = $input.first().json.body;\nconst pm = body.promptMeta || {};\nconst attachmentMap = body.attachmentMap || {};\nconst slideData = pm.slideData;\nconst refinePrompt = pm.refinePrompt || '';\nconst slideIndex = (typeof pm.slideIndex === 'number') ? pm.slideIndex : null;\nconst systemPrompt = pm.systemPrompt || 'You are a refinement assistant. Return JSON in the same shape.';\n\nlet user = 'Apply the user request below to the current slide_data. Return the complete slide_data JSON in the same shape (theme + slides array).';\n\nif (slideIndex !== null) {\n  user += `\\n\\nTarget: ONLY slide index ${slideIndex} (zero-based). Other slides MUST be returned unchanged byte-for-byte.`;\n} else {\n  user += '\\n\\nTarget: ALL slides — apply the change consistently.';\n}\n\nuser += '\\n\\nUser request:\\n' + refinePrompt;\nuser += '\\n\\nCurrent slide_data:\\n' + JSON.stringify(slideData, null, 2);\n\nreturn [{ json: {\n  systemPrompt,\n  userMessage: user,\n  jobId: body.jobId,\n  stage: 'refine_layout',\n  attempt: body.attempt || 1,\n  secrets: body._secrets || {},\n  attachmentMap,\n  attachments: body.attachments || [],\n}}];"
      },
      "id": "build-refine-prompt",
      "name": "Build Refine Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.secrets.llmBaseUrl }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.secrets.llmApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.secrets.llmModel, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }], max_tokens: 2000, temperature: 0.1, response_format: { type: 'json_object' }, chat_template_kwargs: { enable_thinking: false }, extra_body: { chat_template_kwargs: { enable_thinking: false } } }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "llm-planning",
      "name": "LLM Planning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        80
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.secrets.llmBaseUrl }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.secrets.llmApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.secrets.llmModel, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }], max_tokens: 3500, temperature: 0.2, response_format: { type: 'json_object' }, chat_template_kwargs: { enable_thinking: false }, extra_body: { chat_template_kwargs: { enable_thinking: false } } }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "llm-design",
      "name": "LLM Design",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        280
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.secrets.llmBaseUrl }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.secrets.llmApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.secrets.llmModel, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }], max_tokens: 6000, temperature: 0.2, response_format: { type: 'json_object' }, chat_template_kwargs: { enable_thinking: false }, extra_body: { chat_template_kwargs: { enable_thinking: false } } }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "llm-layout",
      "name": "LLM Layout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        480
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.secrets.llmBaseUrl }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.secrets.llmApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.secrets.llmModel, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }], max_tokens: 3000, temperature: 0.2, response_format: { type: 'json_object' }, chat_template_kwargs: { enable_thinking: false }, extra_body: { chat_template_kwargs: { enable_thinking: false } } }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "llm-refine",
      "name": "LLM Refine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        700
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst prev = $('Build Planning Prompt').first().json;\n\nfunction probeError(raw) {\n  if (!raw) return null;\n  if (raw.error && typeof raw.error === 'object') {\n    return raw.error.message || raw.error.code || JSON.stringify(raw.error).slice(0, 500);\n  }\n  if (raw.message && raw.name && /Error/i.test(String(raw.name))) {\n    return String(raw.message);\n  }\n  return null;\n}\n\n\nfunction extractJsonText(text) {\n  if (typeof text !== 'string') return null;\n  let t = text.trim();\n  if (!t) return null;\n\n  // Strip common code fences\n  if (t.includes('```')) {\n    t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  }\n\n  // Fast path\n  if (t.startsWith('{') || t.startsWith('[')) return t;\n\n  // Heuristic: pick the largest JSON-looking substring\n  const firstObj = t.indexOf('{');\n  const lastObj = t.lastIndexOf('}');\n  if (firstObj !== -1 && lastObj !== -1 && lastObj > firstObj) {\n    return t.slice(firstObj, lastObj + 1);\n  }\n\n  const firstArr = t.indexOf('[');\n  const lastArr = t.lastIndexOf(']');\n  if (firstArr !== -1 && lastArr !== -1 && lastArr > firstArr) {\n    return t.slice(firstArr, lastArr + 1);\n  }\n\n  return null;\n}\n\n\n\n\nfunction extractBalancedJson(text) {\n  if (typeof text !== 'string') return null;\n  let t = text.trim();\n  if (!t) return null;\n\n  if (t.includes('```')) {\n    t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  }\n\n  // Take the first opening bracket as the JSON root. Earlier versions tried\n  // to be smart and locate the brace nearest to '\"slides\"', but that broke on\n  // design output where the root object starts with '\"theme\"' first — the\n  // heuristic then anchored on an inner brace (theme.fonts) and lost theme.\n  let start;\n  const obj = t.indexOf('{');\n  const arr = t.indexOf('[');\n  if (obj === -1 && arr === -1) return null;\n  if (obj === -1) start = arr;\n  else if (arr === -1) start = obj;\n  else start = Math.min(obj, arr);\n\n  const s = t.slice(start);\n  const open = s[0];\n  const close = open === '{' ? '}' : ']';\n\n  let depth = 0;\n  let inStr = false;\n  let esc = false;\n\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) {\n        esc = false;\n      } else if (ch === '\\\\') {\n        esc = true;\n      } else if (ch === '\"') {\n        inStr = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inStr = true;\n      continue;\n    }\n\n    if (ch === open) depth++;\n    if (ch === close) {\n      depth--;\n      if (depth === 0) {\n        return s.slice(0, i + 1);\n      }\n    }\n  }\n\n  return null;\n}\n\n\nconst upstreamError = probeError(raw);\n\nlet content = '';\nlet output = null;\nlet errorMessage = null;\n\nif (upstreamError) {\n  errorMessage = 'LLM call failed: ' + upstreamError;\n} else {\n  const choice = raw?.choices?.[0] || {};\n  const msg = choice.message || {};\n  const finishReason = choice.finish_reason || '';\n  const realContent = typeof msg.content === 'string' ? msg.content : '';\n  const reasoningContent = typeof msg.reasoning_content === 'string' ? msg.reasoning_content : (typeof msg.reasoning === 'string' ? msg.reasoning : '');\n  content = realContent || reasoningContent || '';\n  if (finishReason === 'length') {\n    errorMessage = 'LLM hit token limit (max_tokens) before returning JSON. Включите enable_thinking=false или увеличьте max_tokens.';\n  } else if (!realContent && reasoningContent) {\n    errorMessage = 'LLM returned only reasoning_content (thinking mode is on). Set chat_template_kwargs.enable_thinking=false or use a non-reasoning model.';\n  } else if (!content || content.trim().length === 0) {\n    errorMessage = 'LLM returned empty content';\n  } else {    const jsonText = extractBalancedJson(content);\n    try {\n      if (!jsonText) {\n        if (finishReason && finishReason !== 'stop') {\n          throw new Error('LLM output truncated (finish_reason=' + finishReason + '). Попробуйте перезапустить этап или увеличить max_tokens.');\n        }\n        throw new Error('No JSON found in LLM output');\n      }\n      output = JSON.parse(jsonText);\n      if (output === null || typeof output !== 'object') {\n        throw new Error('LLM output is not a JSON object');\n      }\n      if (!output.slides || !Array.isArray(output.slides)) {\n        throw new Error('Missing slides[] in planning output');\n      }\n    } catch (e) {\n      errorMessage = e.message || 'Failed to parse LLM JSON';\n      // Fallback: reasoning-only models may not emit valid JSON.\n      try {\n        output = fallbackPlanningFromReasoning(content, prev?.secrets ? (prev?.secrets?.slideCount || null) : null);\n        errorMessage = null;\n      } catch (e2) {\n        output = null;\n      }\n    }\n  }\n}\n\n\n\nfunction fallbackPlanningFromReasoning(reasoningText, desiredCount) {\n  const text = typeof reasoningText === 'string' ? reasoningText : '';\n  const slides = [];\n\n  // Split by \"*Slide N:*\" blocks\n  const re = /\\*Slide\\s*(\\d+)\\*:\\s*([\\s\\S]*?)(?=\\*Slide\\s*\\d+\\*:\\s*|$)/g;\n  let m;\n  while ((m = re.exec(text)) !== null) {\n    const idx = Number(m[1]);\n    const block = m[2] || '';\n\n    const title = (block.match(/Title:\\s*\\\"([^\\\"]+)\\\"/) || [])[1] || `Слайд ${idx + 1}`;\n    const subtitle = (block.match(/Subtitle:\\s*\\\"([^\\\"]*)\\\"/) || [])[1] || '';\n\n    const bullets = [];\n    const bulletsMatch = block.match(/bullets?[^\\[]*\\[([\\s\\S]*?)\\]/i);\n    if (bulletsMatch) {\n      const inner = bulletsMatch[1];\n      for (const item of inner.split(/\\n|,/)) {\n        const cleaned = item.replace(/[\\\"\\[\\]]/g, '').trim();\n        if (cleaned && cleaned.length < 200) bullets.push(cleaned);\n      }\n    }\n\n    const speaker = (block.match(/speaker_notes?:\\s*\\\"([\\s\\S]*?)\\\"/) || [])[1] || '';\n\n    const blocks = [{ type: 'heading', text: title }];\n    if (subtitle) blocks.push({ type: 'subtitle', text: subtitle });\n    if (bullets.length >= 2) blocks.push({ type: 'bullets', items: bullets.slice(0, 6) });\n    else blocks.push({ type: 'text', text: `Ключевые идеи про: ${title}.` });\n\n    slides.push({ index: idx, title, subtitle, blocks, speaker_notes: speaker || '' });\n  }\n\n  // If nothing extracted, build a minimal skeleton\n  const count = Number.isFinite(Number(desiredCount)) && Number(desiredCount) > 0 ? Number(desiredCount) : 5;\n  if (slides.length === 0) {\n    for (let i = 0; i < count; i++) {\n      slides.push({\n        index: i,\n        title: i === 0 ? 'Титульный слайд' : `Слайд ${i + 1}`,\n        subtitle: i === 0 ? 'Короткий подзаголовок' : '',\n        blocks: [\n          { type: 'heading', text: i === 0 ? 'Тема презентации' : `Раздел ${i}` },\n          ...(i === 0 ? [{ type: 'subtitle', text: 'Короткий подзаголовок' }] : [{ type: 'text', text: 'Основная мысль слайда.' }]),\n        ],\n        speaker_notes: '',\n      });\n    }\n  }\n\n  // Normalize ordering and ensure indices 0..count-1\n  slides.sort((a, b) => a.index - b.index);\n  const out = [];\n  for (let i = 0; i < (Number(desiredCount) || slides.length); i++) {\n    const s = slides[i] || slides[slides.length - 1];\n    out.push({ ...s, index: i });\n  }\n  return { slides: out };\n}\nreturn [{ json: {\n  jobId: prev.jobId,\n  stage: prev.stage,\n  output,\n  errorMessage,\n  llmRequest: { systemPrompt: prev.systemPrompt, userMessage: prev.userMessage },\n  llmResponse: raw,\n  secrets: prev.secrets,\n  attachmentMap: prev.attachmentMap || {},\n}}];"
      },
      "id": "parse-planning",
      "name": "Parse Planning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst prev = $('Build Design Prompt').first().json;\n\nfunction probeError(raw) {\n  if (!raw) return null;\n  if (raw.error && typeof raw.error === 'object') {\n    return raw.error.message || raw.error.code || JSON.stringify(raw.error).slice(0, 500);\n  }\n  if (raw.message && raw.name && /Error/i.test(String(raw.name))) {\n    return String(raw.message);\n  }\n  return null;\n}\n\n\nfunction extractJsonText(text) {\n  if (typeof text !== 'string') return null;\n  let t = text.trim();\n  if (!t) return null;\n\n  // Strip common code fences\n  if (t.includes('```')) {\n    t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  }\n\n  // Fast path\n  if (t.startsWith('{') || t.startsWith('[')) return t;\n\n  // Heuristic: pick the largest JSON-looking substring\n  const firstObj = t.indexOf('{');\n  const lastObj = t.lastIndexOf('}');\n  if (firstObj !== -1 && lastObj !== -1 && lastObj > firstObj) {\n    return t.slice(firstObj, lastObj + 1);\n  }\n\n  const firstArr = t.indexOf('[');\n  const lastArr = t.lastIndexOf(']');\n  if (firstArr !== -1 && lastArr !== -1 && lastArr > firstArr) {\n    return t.slice(firstArr, lastArr + 1);\n  }\n\n  return null;\n}\n\n\n\n\nfunction extractBalancedJson(text) {\n  if (typeof text !== 'string') return null;\n  let t = text.trim();\n  if (!t) return null;\n\n  if (t.includes('```')) {\n    t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  }\n\n  // Take the first opening bracket as the JSON root. Earlier versions tried\n  // to be smart and locate the brace nearest to '\"slides\"', but that broke on\n  // design output where the root object starts with '\"theme\"' first — the\n  // heuristic then anchored on an inner brace (theme.fonts) and lost theme.\n  let start;\n  const obj = t.indexOf('{');\n  const arr = t.indexOf('[');\n  if (obj === -1 && arr === -1) return null;\n  if (obj === -1) start = arr;\n  else if (arr === -1) start = obj;\n  else start = Math.min(obj, arr);\n\n  const s = t.slice(start);\n  const open = s[0];\n  const close = open === '{' ? '}' : ']';\n\n  let depth = 0;\n  let inStr = false;\n  let esc = false;\n\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) {\n        esc = false;\n      } else if (ch === '\\\\') {\n        esc = true;\n      } else if (ch === '\"') {\n        inStr = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inStr = true;\n      continue;\n    }\n\n    if (ch === open) depth++;\n    if (ch === close) {\n      depth--;\n      if (depth === 0) {\n        return s.slice(0, i + 1);\n      }\n    }\n  }\n\n  return null;\n}\n\n\nconst upstreamError = probeError(raw);\n\nlet content = '';\nlet output = null;\nlet errorMessage = null;\n\nif (upstreamError) {\n  errorMessage = 'LLM call failed: ' + upstreamError;\n} else {\n  const choice = raw?.choices?.[0] || {};\n  const msg = choice.message || {};\n  const finishReason = choice.finish_reason || '';\n  const realContent = typeof msg.content === 'string' ? msg.content : '';\n  const reasoningContent = typeof msg.reasoning_content === 'string' ? msg.reasoning_content : (typeof msg.reasoning === 'string' ? msg.reasoning : '');\n  content = realContent || reasoningContent || '';\n  if (finishReason === 'length') {\n    errorMessage = 'LLM hit token limit (max_tokens) before returning JSON. Включите enable_thinking=false или увеличьте max_tokens.';\n  } else if (!realContent && reasoningContent) {\n    errorMessage = 'LLM returned only reasoning_content (thinking mode is on). Set chat_template_kwargs.enable_thinking=false or use a non-reasoning model.';\n  } else if (!content || content.trim().length === 0) {\n    errorMessage = 'LLM returned empty content';\n  } else {    const jsonText = extractBalancedJson(content);\n    try {\n      if (!jsonText) {\n        if (finishReason && finishReason !== 'stop') {\n          throw new Error('LLM output truncated (finish_reason=' + finishReason + '). Попробуйте перезапустить этап или увеличить max_tokens.');\n        }\n        throw new Error('No JSON found in LLM output');\n      }\n      output = JSON.parse(jsonText);\n      if (output === null || typeof output !== 'object') {\n        throw new Error('LLM output is not a JSON object');\n      }\n      if (!output.theme || !Array.isArray(output.slides)) {\n        throw new Error('Design output must contain theme + slides[]');\n      }\n    } catch (e) {\n      errorMessage = e.message || 'Failed to parse LLM JSON';\n      output = null;\n    }\n  }\n}\n\nreturn [{ json: {\n  jobId: prev.jobId,\n  stage: prev.stage,\n  output,\n  errorMessage,\n  llmRequest: { systemPrompt: prev.systemPrompt, userMessage: prev.userMessage },\n  llmResponse: raw,\n  secrets: prev.secrets,\n  attachmentMap: prev.attachmentMap || {},\n}}];"
      },
      "id": "parse-design",
      "name": "Parse Design",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst prev = $('Build Layout Prompt').first().json;\n\nfunction probeError(raw) {\n  if (!raw) return null;\n  if (raw.error && typeof raw.error === 'object') {\n    return raw.error.message || raw.error.code || JSON.stringify(raw.error).slice(0, 500);\n  }\n  if (raw.message && raw.name && /Error/i.test(String(raw.name))) {\n    return String(raw.message);\n  }\n  return null;\n}\n\n\nfunction extractJsonText(text) {\n  if (typeof text !== 'string') return null;\n  let t = text.trim();\n  if (!t) return null;\n\n  // Strip common code fences\n  if (t.includes('```')) {\n    t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  }\n\n  // Fast path\n  if (t.startsWith('{') || t.startsWith('[')) return t;\n\n  // Heuristic: pick the largest JSON-looking substring\n  const firstObj = t.indexOf('{');\n  const lastObj = t.lastIndexOf('}');\n  if (firstObj !== -1 && lastObj !== -1 && lastObj > firstObj) {\n    return t.slice(firstObj, lastObj + 1);\n  }\n\n  const firstArr = t.indexOf('[');\n  const lastArr = t.lastIndexOf(']');\n  if (firstArr !== -1 && lastArr !== -1 && lastArr > firstArr) {\n    return t.slice(firstArr, lastArr + 1);\n  }\n\n  return null;\n}\n\n\n\n\nfunction extractBalancedJson(text) {\n  if (typeof text !== 'string') return null;\n  let t = text.trim();\n  if (!t) return null;\n\n  if (t.includes('```')) {\n    t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  }\n\n  // Take the first opening bracket as the JSON root. Earlier versions tried\n  // to be smart and locate the brace nearest to '\"slides\"', but that broke on\n  // design output where the root object starts with '\"theme\"' first — the\n  // heuristic then anchored on an inner brace (theme.fonts) and lost theme.\n  let start;\n  const obj = t.indexOf('{');\n  const arr = t.indexOf('[');\n  if (obj === -1 && arr === -1) return null;\n  if (obj === -1) start = arr;\n  else if (arr === -1) start = obj;\n  else start = Math.min(obj, arr);\n\n  const s = t.slice(start);\n  const open = s[0];\n  const close = open === '{' ? '}' : ']';\n\n  let depth = 0;\n  let inStr = false;\n  let esc = false;\n\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) {\n        esc = false;\n      } else if (ch === '\\\\') {\n        esc = true;\n      } else if (ch === '\"') {\n        inStr = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inStr = true;\n      continue;\n    }\n\n    if (ch === open) depth++;\n    if (ch === close) {\n      depth--;\n      if (depth === 0) {\n        return s.slice(0, i + 1);\n      }\n    }\n  }\n\n  return null;\n}\n\n\nconst upstreamError = probeError(raw);\n\nlet content = '';\nlet output = null;\nlet errorMessage = null;\n\nif (upstreamError) {\n  errorMessage = 'LLM call failed: ' + upstreamError;\n} else {\n  const choice = raw?.choices?.[0] || {};\n  const msg = choice.message || {};\n  const finishReason = choice.finish_reason || '';\n  const realContent = typeof msg.content === 'string' ? msg.content : '';\n  const reasoningContent = typeof msg.reasoning_content === 'string' ? msg.reasoning_content : (typeof msg.reasoning === 'string' ? msg.reasoning : '');\n  content = realContent || reasoningContent || '';\n  if (finishReason === 'length') {\n    errorMessage = 'LLM hit token limit (max_tokens) before returning JSON. Включите enable_thinking=false или увеличьте max_tokens.';\n  } else if (!realContent && reasoningContent) {\n    errorMessage = 'LLM returned only reasoning_content (thinking mode is on). Set chat_template_kwargs.enable_thinking=false or use a non-reasoning model.';\n  } else if (!content || content.trim().length === 0) {\n    errorMessage = 'LLM returned empty content';\n  } else {    const jsonText = extractBalancedJson(content);\n    try {\n      if (!jsonText) {\n        if (finishReason && finishReason !== 'stop') {\n          throw new Error('LLM output truncated (finish_reason=' + finishReason + '). Попробуйте перезапустить этап или увеличить max_tokens.');\n        }\n        throw new Error('No JSON found in LLM output');\n      }\n      output = JSON.parse(jsonText);\n      if (output === null || typeof output !== 'object') {\n        throw new Error('LLM output is not a JSON object');\n      }\n      if (!output.slides || !Array.isArray(output.slides)) {\n        throw new Error('Missing slides[] in layout output');\n      }\n      for (let i = 0; i < output.slides.length; i++) {\n        if (typeof output.slides[i].html !== 'string') {\n          throw new Error('Slide ' + i + ' missing html');\n        }\n      }\n      if (!output.theme || typeof output.theme !== 'object') output.theme = {};\n      output.theme.fonts = [];\n    } catch (e) {\n      errorMessage = e.message || 'Failed to parse LLM JSON';\n      output = null;\n    }\n  }\n}\n\nreturn [{ json: {\n  jobId: prev.jobId,\n  stage: prev.stage,\n  output,\n  errorMessage,\n  llmRequest: { systemPrompt: prev.systemPrompt, userMessage: prev.userMessage },\n  llmResponse: raw,\n  secrets: prev.secrets,\n  attachmentMap: prev.attachmentMap || {},\n}}];"
      },
      "id": "parse-layout",
      "name": "Parse Layout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst prev = $('Build Refine Prompt').first().json;\n\nfunction probeError(raw) {\n  if (!raw) return null;\n  if (raw.error && typeof raw.error === 'object') {\n    return raw.error.message || raw.error.code || JSON.stringify(raw.error).slice(0, 500);\n  }\n  if (raw.message && raw.name && /Error/i.test(String(raw.name))) {\n    return String(raw.message);\n  }\n  return null;\n}\n\n\nfunction extractJsonText(text) {\n  if (typeof text !== 'string') return null;\n  let t = text.trim();\n  if (!t) return null;\n\n  // Strip common code fences\n  if (t.includes('```')) {\n    t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  }\n\n  // Fast path\n  if (t.startsWith('{') || t.startsWith('[')) return t;\n\n  // Heuristic: pick the largest JSON-looking substring\n  const firstObj = t.indexOf('{');\n  const lastObj = t.lastIndexOf('}');\n  if (firstObj !== -1 && lastObj !== -1 && lastObj > firstObj) {\n    return t.slice(firstObj, lastObj + 1);\n  }\n\n  const firstArr = t.indexOf('[');\n  const lastArr = t.lastIndexOf(']');\n  if (firstArr !== -1 && lastArr !== -1 && lastArr > firstArr) {\n    return t.slice(firstArr, lastArr + 1);\n  }\n\n  return null;\n}\n\n\n\n\nfunction extractBalancedJson(text) {\n  if (typeof text !== 'string') return null;\n  let t = text.trim();\n  if (!t) return null;\n\n  if (t.includes('```')) {\n    t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  }\n\n  // Take the first opening bracket as the JSON root. Earlier versions tried\n  // to be smart and locate the brace nearest to '\"slides\"', but that broke on\n  // design output where the root object starts with '\"theme\"' first — the\n  // heuristic then anchored on an inner brace (theme.fonts) and lost theme.\n  let start;\n  const obj = t.indexOf('{');\n  const arr = t.indexOf('[');\n  if (obj === -1 && arr === -1) return null;\n  if (obj === -1) start = arr;\n  else if (arr === -1) start = obj;\n  else start = Math.min(obj, arr);\n\n  const s = t.slice(start);\n  const open = s[0];\n  const close = open === '{' ? '}' : ']';\n\n  let depth = 0;\n  let inStr = false;\n  let esc = false;\n\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) {\n        esc = false;\n      } else if (ch === '\\\\') {\n        esc = true;\n      } else if (ch === '\"') {\n        inStr = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inStr = true;\n      continue;\n    }\n\n    if (ch === open) depth++;\n    if (ch === close) {\n      depth--;\n      if (depth === 0) {\n        return s.slice(0, i + 1);\n      }\n    }\n  }\n\n  return null;\n}\n\n\nconst upstreamError = probeError(raw);\n\nlet content = '';\nlet output = null;\nlet errorMessage = null;\n\nif (upstreamError) {\n  errorMessage = 'LLM call failed: ' + upstreamError;\n} else {\n  const choice = raw?.choices?.[0] || {};\n  const msg = choice.message || {};\n  const finishReason = choice.finish_reason || '';\n  const realContent = typeof msg.content === 'string' ? msg.content : '';\n  const reasoningContent = typeof msg.reasoning_content === 'string' ? msg.reasoning_content : (typeof msg.reasoning === 'string' ? msg.reasoning : '');\n  content = realContent || reasoningContent || '';\n  if (finishReason === 'length') {\n    errorMessage = 'LLM hit token limit (max_tokens) before returning JSON. Включите enable_thinking=false или увеличьте max_tokens.';\n  } else if (!realContent && reasoningContent) {\n    errorMessage = 'LLM returned only reasoning_content (thinking mode is on). Set chat_template_kwargs.enable_thinking=false or use a non-reasoning model.';\n  } else if (!content || content.trim().length === 0) {\n    errorMessage = 'LLM returned empty content';\n  } else {    const jsonText = extractBalancedJson(content);\n    try {\n      if (!jsonText) {\n        if (finishReason && finishReason !== 'stop') {\n          throw new Error('LLM output truncated (finish_reason=' + finishReason + '). Попробуйте перезапустить этап или увеличить max_tokens.');\n        }\n        throw new Error('No JSON found in LLM output');\n      }\n      output = JSON.parse(jsonText);\n      if (output === null || typeof output !== 'object') {\n        throw new Error('LLM output is not a JSON object');\n      }\n      if (!output.slides || !Array.isArray(output.slides)) {\n        throw new Error('Missing slides[] in refine output');\n      }\n      if (!output.theme || typeof output.theme !== 'object') output.theme = {};\n      output.theme.fonts = [];\n    } catch (e) {\n      errorMessage = e.message || 'Failed to parse LLM JSON';\n      output = null;\n    }\n  }\n}\n\nreturn [{ json: {\n  jobId: prev.jobId,\n  stage: prev.stage,\n  output,\n  errorMessage,\n  llmRequest: { systemPrompt: prev.systemPrompt, userMessage: prev.userMessage },\n  llmResponse: raw,\n  secrets: prev.secrets,\n  attachmentMap: prev.attachmentMap || {},\n}}];"
      },
      "id": "parse-refine",
      "name": "Parse Refine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        700
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $json.jobId }}/steps/{{ $json.stage }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ output: $json.output, llmRequest: $json.llmRequest, llmResponse: $json.llmResponse, errorMessage: $json.errorMessage }) }}",
        "options": {}
      },
      "id": "save-planning",
      "name": "Save Planning Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        80
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $json.jobId }}/steps/{{ $json.stage }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ output: $json.output, llmRequest: $json.llmRequest, llmResponse: $json.llmResponse, errorMessage: $json.errorMessage }) }}",
        "options": {}
      },
      "id": "save-design",
      "name": "Save Design Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        280
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $json.jobId }}/steps/{{ $json.stage }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ output: $json.output, llmRequest: $json.llmRequest, llmResponse: $json.llmResponse, errorMessage: $json.errorMessage }) }}",
        "options": {}
      },
      "id": "save-layout",
      "name": "Save Layout Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        480
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $json.jobId }}/steps/{{ $json.stage }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ output: $json.output, llmRequest: $json.llmRequest, llmResponse: $json.llmResponse, errorMessage: $json.errorMessage }) }}",
        "options": {}
      },
      "id": "save-refine",
      "name": "Save Refine Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://converter-service:3002/convert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ slideData: $('Parse Layout').first().json.output, outputDir: '/data/results/' + $('Parse Layout').first().json.jobId, attachmentMap: $('Parse Layout').first().json.attachmentMap || {} }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "convert-layout",
      "name": "Convert (layout)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://converter-service:3002/convert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ slideData: $('Parse Refine').first().json.output, outputDir: '/data/results/' + $('Parse Refine').first().json.jobId, attachmentMap: $('Parse Refine').first().json.attachmentMap || {} }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "convert-refine",
      "name": "Convert (refine)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        700
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $('Parse Layout').first().json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $('Parse Layout').first().json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'done', resultPaths: $json.paths, resultPath: $json.paths.pdf }) }}",
        "options": {}
      },
      "id": "done-layout",
      "name": "Mark Done (layout)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        480
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $('Parse Refine').first().json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $('Parse Refine').first().json.secrets.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'done', resultPaths: $json.paths, resultPath: $json.paths.pdf }) }}",
        "options": {}
      },
      "id": "done-refine",
      "name": "Mark Done (refine)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        700
      ]
    },
    {
      "parameters": {},
      "id": "err-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.first().json;\nlet errorMessage = 'Unknown error occurred in pipeline';\nlet jobId = null;\nlet internalApiKey = null;\nlet stage = null;\n\ntry {\n  if (errorData?.execution?.error?.message) {\n    errorMessage = errorData.execution.error.message;\n  }\n} catch (e) {}\n\nfunction tryExtractFrom(value) {\n  if (!value || typeof value !== 'object') return;\n  if (!jobId && typeof value.jobId === 'string') jobId = value.jobId;\n  if (!stage && typeof value.stage === 'string') stage = value.stage;\n  if (!internalApiKey && value._secrets && typeof value._secrets.internalApiKey === 'string') internalApiKey = value._secrets.internalApiKey;\n  if (!internalApiKey && value.secrets && typeof value.secrets.internalApiKey === 'string') internalApiKey = value.secrets.internalApiKey;\n}\n\nfunction deepWalk(value, seen = new Set()) {\n  if (!value || typeof value !== 'object' || seen.has(value)) return;\n  seen.add(value);\n  tryExtractFrom(value);\n  if (jobId && internalApiKey && stage) return;\n  if (Array.isArray(value)) { for (const item of value) { deepWalk(item, seen); if (jobId && internalApiKey && stage) return; } return; }\n  for (const key of Object.keys(value)) { deepWalk(value[key], seen); if (jobId && internalApiKey && stage) return; }\n}\n\ntry { deepWalk(errorData); } catch (e) {}\n\nreturn [{ json: { jobId, errorMessage, internalApiKey, stage } }];"
      },
      "id": "extract-err",
      "name": "Extract Error Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1000
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://api-service:3001/api/jobs/internal/{{ $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $json.internalApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'error', errorMessage: $json.errorMessage }) }}",
        "options": {}
      },
      "id": "save-err",
      "name": "Update Status Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        1000
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-layout-1",
              "leftValue": "={{ $('Parse Layout').first().json.errorMessage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "gate-layout",
      "name": "Has Output (layout)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-refine-1",
              "leftValue": "={{ $('Parse Refine').first().json.errorMessage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "gate-refine",
      "name": "Has Output (refine)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Auto Planning (LLM-free fallback): creates a minimal planning_result so the user can review/edit.\nconst prev = $('Build Planning Prompt').first().json;\nconst body = $input.first().json;\n\n// prev.userMessage contains the raw prompt text; keep only first line for title.\nconst topicLine = (prev.userMessage || '').split(/\\n/)[0].trim() || 'Тема презентации';\n\n// try to infer slideCount from userMessage if present\nlet count = 0;\nconst m = (prev.userMessage || '').match(/Desired slide count:\\s*(\\d+)/i);\nif (m) count = Number(m[1]) || 0;\nif (!count || count < 1) count = 5;\n\n// Extract per-slide prompts (if present)\nconst hints = [];\nconst re = /- Slide\\s+(\\d+):\\s*(.*)/g;\nlet mm;\nwhile ((mm = re.exec(prev.userMessage || '')) !== null) {\n  const idx = Number(mm[1]) - 1;\n  const text = (mm[2] || '').trim();\n  if (Number.isFinite(idx) && idx >= 0 && text) hints[idx] = text;\n}\n\nconst slides = [];\nfor (let i = 0; i < count; i++) {\n  const title = i === 0 ? topicLine : (hints[i] ? hints[i].slice(0, 80) : `Раздел ${i + 1}`);\n  const subtitle = i === 0 ? 'Короткий подзаголовок (можно изменить)' : '';\n  const blocks = [{ type: 'heading', text: title }];\n  if (i === 0) blocks.push({ type: 'subtitle', text: subtitle });\n  blocks.push({ type: 'text', text: hints[i] ? hints[i] : 'Опишите ключевую мысль этого слайда.' });\n\n  slides.push({ index: i, title, subtitle, blocks, speaker_notes: '' });\n}\n\nreturn [{ json: {\n  jobId: prev.jobId,\n  stage: prev.stage,\n  output: { slides },\n  errorMessage: null,\n  llmRequest: { systemPrompt: prev.systemPrompt, userMessage: prev.userMessage, mode: 'auto_planning' },\n  llmResponse: null,\n  secrets: prev.secrets,\n  attachmentMap: prev.attachmentMap || {},\n}}];"
      },
      "id": "auto-planning",
      "name": "Auto Planning (no LLM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        80
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch by Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Stage": {
      "main": [
        [
          {
            "node": "Build Planning Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Design Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Layout Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Refine Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Planning Prompt": {
      "main": [
        [
          {
            "node": "LLM Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Planning": {
      "main": [
        [
          {
            "node": "Parse Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planning": {
      "main": [
        [
          {
            "node": "Save Planning Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Design Prompt": {
      "main": [
        [
          {
            "node": "LLM Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Layout Prompt": {
      "main": [
        [
          {
            "node": "LLM Layout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Refine Prompt": {
      "main": [
        [
          {
            "node": "LLM Refine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Design": {
      "main": [
        [
          {
            "node": "Parse Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Layout": {
      "main": [
        [
          {
            "node": "Parse Layout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Refine": {
      "main": [
        [
          {
            "node": "Parse Refine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Design": {
      "main": [
        [
          {
            "node": "Save Design Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Layout": {
      "main": [
        [
          {
            "node": "Save Layout Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Refine": {
      "main": [
        [
          {
            "node": "Save Refine Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Layout Step": {
      "main": [
        [
          {
            "node": "Has Output (layout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Refine Step": {
      "main": [
        [
          {
            "node": "Has Output (refine)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert (layout)": {
      "main": [
        [
          {
            "node": "Mark Done (layout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert (refine)": {
      "main": [
        [
          {
            "node": "Mark Done (refine)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Info": {
      "main": [
        [
          {
            "node": "Update Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Output (layout)": {
      "main": [
        [
          {
            "node": "Convert (layout)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Has Output (refine)": {
      "main": [
        [
          {
            "node": "Convert (refine)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Auto Planning (no LLM)": {
      "main": [
        [
          {
            "node": "Save Planning Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}